<html>
	<head>
		<title>Shutterbug2599's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="#">Shutterbug's blog</a></h1>
		</div>
		
		<div>
			<p>published: Mon, Aug 6, 19:35</p>
			<h2><a href="#">My first post</a></h2>
			<p>I love photography, it relieves stress :) </p>
		</div>
		
		{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
		
		<div> 
			<p>published: Mon, Aug 6, 19:37</p>
			<h2><a href="#">My second post</a></h2>
			<p>I love petting animals</p>
		</div>
	</body>
</html>
